# =========================
# BUILD / SIMULATION OUTPUT
# =========================

# Verilator
sim/verilator/obj_dir/
obj_dir/

# Icarus / VVP
*.vvp
*.out

# Compiled objects
*.o
*.d
*.a

# Generated C++ (Verilator)
*.cpp


# Waveforms
*.vcd
*.fst

# Logs
*.log

# =========================
# IMAGES / TEMP FILES
# =========================


# =========================
# OS / EDITOR
# =========================
.DS_Store
*.swp

# =========================
# OPTIONAL 
# =========================
coverage/
build/
.claude
